@charset "UTF-8";
@font-face {
    font-family: 'Ownglyph_Dailyokja-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/Ownglyph_Dailyokja-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
	*{
		font-family:'Ownglyph_Dailyokja-Rg';
	}
	body{
		background-color:#f8faca;
	}
	
	a{
	text-decoration:none;
	color:black;
	}
	a:hover{
	 color:#a58680;
	}
	img{
	border-bottom:1px dashed black;
	
	
	
	}
	
	.goods a{
		border:1px solid;
		margin:5px;
		border-radius:3px;
		background-color:#dec3e6;
	}
	ul{
		list-style:none;
		float:left;
		display:inline;
	
	}
	ul li{
		float:left;
	}
	.sidemenu a{
		font-size: 17px;
		
		
		
	}
